/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family:'al-jazeera-arabic-bold';
  src: url('../../../assets/css/fonts/al-jazeera-arabic-bold.woff') format('woff'),
      url('../../../assets/css/fonts/al-jazeera-arabic-bold.woff2') format('woff2'),
      url('../../../assets/css/fonts/al-jazeera-arabic-bold.otf') format('opentype'),
      url('../../../assets/css/fonts/al-jazeera-arabic-bold.eot') format('embedded-opentype'),
      url('../../../assets/css/fonts/al-jazeera-arabic-bold.ttf/') format('truetype');
  font-style: normal;
  font-display: swap;
}
html, body {
  height: 100%;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
p {
  margin: 0 0 15px;
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'al-jazeera-arabic-bold', "Open Sans", sans-serif;
  margin: 0 0 15px;
  color: #444;
}
h1 {
  font-size: 48px;
  line-height: 50px;
}
h2 {
  font-size: 38px;
  line-height: 40px;
}
h3 {
  font-size: 30px;
  line-height: 32px;
}
h4 {
  font-size: 24px;
  line-height: 26px;
}
h5 {
  font-size: 20px;
  line-height: 22px;
}
h6 {
  font-size: 16px;
  line-height: 20px;
}
a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
a:hover {
  color: #0066cc;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'al-jazeera-arabic-bold', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}
/*--------------------------------------------------------------
# Border-lines
--------------------------------------------------------------*/
.border-line {
  width: 60px;
  height: 3px;
  margin-top: 20px;
  display: block;
  text-align: center;
  background-color: #0066cc;
  margin-left: auto;
  margin-right: auto
}
.border-line2 {
  width: 200px;
  height: 3px;
  margin-top: 20px;
  display: block;
  text-align: center;
  background-color: #0066cc;
  margin-left: auto;
  margin-right: auto
}
/*--------------------------------------------------------------
# Quote-Div
--------------------------------------------------------------*/
.quote {
  text-align: center;
  color: #0066cc;
  font-style: italic;
  font-size: 1.6em;
  line-height:1.4em
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0066cc;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #c01c1c;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.clear {
  clear: both;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
input, select, textarea, input[type=text], input[type=date], input[type=url], input[type=email], input[type=password], input[type=tel], button, button[type=submit] {
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
div#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff ;
}

div#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 2s linear infinite;
  animation: animate-preloader 2s linear infinite;
  background: #fff url("../../../assets/img/preloader.png") no-repeat center center;
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-moz-selection {
  background: #0066cc;
  text-shadow: none;
}
::selection {
  background: #0066cc;
  text-shadow: none;
}
.area-padding {
  padding: 70px 0px 80px;
}
.area-padding-2 {
  padding: 70px 0px 50px;
}
.padding-2 {
  padding-bottom: 90px;
}
.section-headline p {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
  color: #c01c1c;
}
.section-headline p::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}
.sec-head {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 0;
  padding: 10px 0 10px;
  transition: all 0.4s ease 0s;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #0066cc;
  height: 40px;
  font-size: 13px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}
#topbar img {
  max-width:auto;
  height:25px;
  margin-left:10px
}
#topbar .contact-info i {
  font-style: normal;
  padding-left:10px;
  color: #fff
}
#topbar .contact-info span {
  transition: all 0.5s;
  color: #fff
}
#topbar .contact-info span:hover {
  text-decoration:underline;
  color:yellow;
  transition: all 0.5s;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  color: #fff
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s
}
#topbar .contact-info i a:hover {
  color: #fff;
}
#topbar .social-links a {
  color: #fff;
  line-height: 0;
  transition: 1s ease-in-out;
  margin-right: 20px
}
#topbar .social-links a:hover {
  color: #fff;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 1.5s;
  z-index: 997;
  background: rgba(0, 0, 0, 0.2);
  height: 100px;
  margin-top: 40px;
}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  margin:0;
  height: 80px;
  box-shadow: 1px 1px 7px 2px #888888;
}
#header .logo h1 {
  margin-top:10px;
  font-size: 29px;
  line-height: 1.2em;
  text-align: right;
}
#header .logo h1 span {
  color: #568fc7;
}
#header .logo h1 {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  float:right;
  margin-top:15px;
  margin-left:10px;
  max-height: 65px
}
@media (max-width: 1025px) {
  #header {
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
  }
  #header .logo h1 {
    font-size: 20px;
  }
  #header .logo img {
    max-height: 45px
  }
}
.header-bg {
  background: url(../../../assets/img/background/page-header.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 60px;
}
.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}
@media (max-width: 1025px) {
  .header-bg {
    background-size: contain;
    margin-top: 85px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  font-family: 'al-jazeera-arabic-bold', 'open sans', sans-serif
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center
}
.navbar li {
  position: relative
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 0 25px 0 0
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: .3s ease-in-out;
  position: relative
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #c01c1c;
  visibility: hidden;
  width: 0px;
  transition: all .3s ease-in-out
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #568fc7;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s ease-in-out
}
.navbar .dropdown ul li {
  min-width: 200px
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #0d2529;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #0066cc;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  right: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 2, 2, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 35px;
  left: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0d2529;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0066cc;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0066cc;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}
@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}
#hero .animate__fadeInRight {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
#hero .animate__fadeInRight span {
  color: #568fc7;
}
#hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50px;
  right: 50px;
}
#hero .container {
  text-align: center;
}
@media (max-width: 768px) {
  #hero .animate__fadeInRight {
    font-size: 20px;
    line-height: 1.2;
  }
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
#hero p {
  width: 80%;
  font-size: 38px;
  line-height: 1.5;
  margin: 30px auto 50px auto;
  color: #fff;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #hero p {
    font-size: 28px;
    line-height: 1.5;
  }
}
#hero .carousel-fade {
  overflow: hidden;
}
#hero .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}
#hero .carousel-fade .carousel-inner .carousel-item,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-fade .carousel-inner .active,
#hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-fade .carousel-inner .carousel-item-next,
#hero .carousel-fade .carousel-inner .carousel-item-prev,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
@media (min-width: 1024px) {
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}
#hero .carousel-indicators li {
  cursor: pointer;
}
#hero .btn-get-started {
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 50px;
  color: #fff;
  background: #0066cc;
  white-space: nowrap;
  display: inline-flex; 
  justify-content: center;
}
#hero .btn-get-started:hover {
  background: #fff;
  font-weight: 600;
  color: #0066cc;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-area {
  background-color: #f9f9f9;
  text-align: right;
}
.about-area h2, h3 {
  color: #c01c1c;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.3em;
}
.about-area h2 {
  margin-bottom: 100px;
}
.about-area p {
  font-size: 18px;
  line-height: 2rem;
}
.about-area2 {
  background-color: #fff;
  text-align: right;
}
.about-area2 .context p {
  color: #c01c1c;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.single-well .sec-head1 {
  color: #c01c1c;
  font-size: 24px;
  margin-bottom: 20px;
}
.about-area2 p {
  font-size: 18px;
  line-height: 2rem;
}
.single-well > a {
  display: block;
}
.single-well ul li {
  color: #444;
  display: block;
  padding: 5px 0;
  font-size: 15px;
  line-height: 1.6em;
}
.single-well ul li i {
  color: #0066cc;
  margin-left: 5px;
  font-size: 24px;
}
.single-well p {
  color: #444;
}
.single-well img {
  margin-top: 5px;
}
video {
  display: block;
  height: auto;
  margin: auto;
  position: relative;
  width: 100%;
}
.video-wrap {
  margin: 0 auto;
  position: relative;
  width: 90%;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services-icon {
  color: #444;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}
.section-headline.services-head > p {
  margin-bottom: 100px;
  color: #c01c1c;
}
.services-details {
  padding-top: 40px;
  transition: all 0.5s ease 0s;
}
.services-details:hover h3, .services-details:hover .services-icon {
  color: #0066cc;
}
.row.second-row {
  margin-top: 40px;
}
.section-head > h2 {
  color: #c01c1c;
}
.single-services > h3 {
  color: #444;
  font-size: 24px;
  margin-bottom:30px;
}
.single-services > p {
  color: #333;
  font-size: 14px;
  text-align: right;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team-member {
  background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
  display: block;
  margin-right: -15px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.team-member::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-right: -15px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: 5s;
  transform: scale(1);
}
.team-member:hover.team-member::before {
  transform: scale(1.2);
}
.single-team-member {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  overflow: hidden;
  width: 100%;
}
.single-team-member:hover .team-img a:after {
  opacity: 1;
}
.single-team-member:hover .team-social-icon {
  top: 45%;
  opacity: 1;
}
.team-img {
  position: relative;
}
.team-img > a {
  display: block;
}
.team-img > a::after {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
  opacity: 0;
}
.team-content {
  padding: 10px 0px;
}
.team-content > p{
  color: #444;
  margin-bottom: 1px;
  font-size: 24px;
}
.team-content1 > p {
  color: #444;
  margin-bottom: 5px;
  font-size: 14px;
}
/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/
.reviews-area {
  background: url(../../../assets/img/team/team.webp);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
}
.work-left-text {
  background: #0066cc none repeat scroll 0 0;
}
.work-right-text {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
.work-right-text h2 {
  color: #fff;
  font-size: 24px;
  text-align: right;
}
.work-right-text p {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  text-align: right;
}
.work-right-text .sus-btn {
  margin-left: 0;
  margin-top: 20px;
}
.single-awesome-4 {
  display: block;
  float: left;
  overflow: hidden;
  width: 33.33%;
}
.single-awesome-4 .add-actions {
  padding: 10px 20px;
}
/*--------------------------------------------------------------
# products
--------------------------------------------------------------*/
.products-area {
  background: #f9f9f9;
}
.section-headline > p {
  margin-bottom: 100px;
  color: #c01c1c;
  font-size: 36px;
}
.pst-content {
  padding-left: 10px;
}
#products-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}
#products-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  border-radius: 50px;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #444;
}
#products-flters li:hover, #products-flters li.filter-active {
  border-color: #0066cc;
  background: #0066cc;
  color: #fff;
}
#products-flters li:last-child {
  margin-right: 0;
}
.single-awesome-products {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 25%;
  position: relative;
}
.single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.first-item {
  margin-bottom: 30px;
}
.awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.awesome-img > a {
  display: block;
  position: relative;
}
.single-awesome-project:hover .awesome-img > a::after {
  opacity: 1;
}
.single-awesome-project:hover .add-actions {
  opacity: 1;
  bottom: 0;
}
.awesome-img > a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}
.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.project-dec {
  display: block;
  height: 100%;
  width: 100%;
}
.project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}
.project-dec h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: -45px;
  margin-bottom: 5px;
  padding-top: 50%;
  text-decoration: none;
}
.project-dec h4:hover {
  color: #fff;
}
.project-dec span {
  color: #ddd;
  font-size: 13px;
}
.project-dec2 h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: -45px;
  margin-bottom: 5px;
  padding-top: 25%;
  text-decoration: none;
}
.project-dec2 h4:hover {
  color: #fff;
}
.project-action-btn {
  display: block;
  height: 100%;
  text-align: center;
  transition: all 1s ease 0s;
  width: 100%;
}
.project-action-btn li {
  display: block;
  height: 100%;
  width: 100%;
}
.project-action-btn li a {
  display: block;
  height: 100%;
  width: 100%;
}
/*--------------------------------------------------------------
# suppliers
--------------------------------------------------------------*/
.suppliers {
  padding: 80px 0;
  background: url("../../../assets/img/background/map.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.suppliers::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.suppliers .suppliers-carousel, .suppliers .suppliers-slider {
  overflow: hidden;
}
.suppliers .suppliers-item {
  text-align: center;
  color: #fff;
}
.suppliers .suppliers-item .suppliers-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
}
.suppliers h2 {
  color: #fff;
}
.suppliers .suppliers-item p {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.suppliers .swiper-pagination {
  margin-top: 40px;
  position: relative;
}
.suppliers .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.suppliers .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0066cc;
}
@media (min-width: 992px) {
  .suppliers .suppliers-item p {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Quote
--------------------------------------------------------------*/
.suscribe-area {
  background: #0066cc none repeat scroll 0 0;
  padding: 30px 0;
}
.suscribe-text {
  display: block;
  padding: 10px 0;
}
.suscribe-text p {
  color: #fff;
  display: block;
  font-size: 20px;
  margin: 0;
  line-height: 1.7;
}
.sus-btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #0066cc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 30px;
}
.sus-btn:hover {
  background: #0066cc none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #fff;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-area {
  height: auto;
  width: 100%;
  font-family: 'al-jazeera-arabic-bold', 'Open Sans', sans-serif;
}
.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}
.contact-content-right {
  padding: 100px;
}
.single-icon i {
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  border-radius: 50%;
  margin-bottom: 30px;
  color: #444;
}
.single-icon i:hover {
  color: #0066cc;
}
.single-icon a:hover {
  color: #444;
  text-decoration: underline;
}
.single-icon {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
}
.contact-icon {
  margin-bottom: 30px;
}
/*--------------------------------------------------------------
# branches
--------------------------------------------------------------*/
.branches-area {
  height: auto;
  width: 100%;
  text-align: right;
}
.branches-text h4 a {
  color: #444;
  text-decoration: none;
}
.branches-text h4 {
  color: #c01c1c;
  margin-bottom: 15px;
}
.branches-text p {
  line-height: 1.9em;
  font-weight: 700;
}
.branches-text a:hover {
  text-decoration: underline;
}
.barcode img {
  float: right;
  width:130px;
  height: 156px;
  box-shadow: 0px 5px 30px rgba(127, 137, 161, 0.25);
}
.barcode2 img {
  float: left;
  width:130px;
  height: 156px;
  box-shadow: 0px 5px 30px rgba(127, 137, 161, 0.25);
}
.branches_meta span.date_type i {
  margin-left: 5px;
}
.branches-meta span i {
  padding-right: 10px;
}
.branches-content .branches-meta {
  border-bottom: 1px dotted #333;
}
.branches-meta {
  border-bottom: 1px dotted #fff;
  padding: 10px 0;
}

.comments-type > a, .date-type, .branches-meta span.comments-type {
  color: #333;
  margin-right: 5px;
}

.branches-meta .comments-type i {
  padding-right: 0 !important;
}
.comments-type {
  float: right;
}
.branches-content-right .comments-type > a, .branches-content-right .date-type, .branches-content-right .branches-meta span.comments-type, .branches-content-right .branches-text p {
  color: #fff;
  letter-spacing: 1px;
}
.single-branches .ready-btn {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  margin-right: 0;
  float: right;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.4s ease 0s;
  box-shadow: 0px 5px 30px rgba(127, 137, 161, 0.25);
}
.single-branches .ready-btn:hover {
  border: 1px solid #0066cc;
  color: #fff;
}
.single-branches .ready-btn-left {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  margin-left: 0;
  float: left;
  padding: 10px 22px;
  text-align: center;
  transition: all 0.1s ease 0s;
  box-shadow: 0px 5px 30px rgba(127, 137, 161, 0.25);
}
.single-branches .ready-btn-left:hover {
  background-color: #25d366;
  border: 1px solid #25d366;
  color: #fff;
}
.single-branches-img {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.55);
  margin-top: 80px;
}
/*--------------------------------------------------------------
# branches page
--------------------------------------------------------------*/
.page-area {
  position: relative;
}
.branches-page .banner-box {
  margin-bottom: 40px;
}
.search-option input {
  border: medium none;
  padding: 6px 15px;
  width: 80%;
}
.search-option {
  border: 1px solid #ccc;
  height: 42px;
  margin-bottom: 30px;
}
.search-option button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  font-size: 20px;
  padding: 8px 23px;
}
.search-option button:hover {
  color: #0066cc;
}
.left-branches h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 17px;
  margin-bottom: 0;
  padding: 15px 10px;
}
.left-branches {
  background: #f9f9f9 none repeat scroll 0 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 20px;
}
.left-branches li {
  border-bottom: 1px solid #ddd;
  display: block;
}
.left-branches ul li a {
  color: #444;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-transform: capitalize;
}
.recent-single-post {
  border-bottom: 1px solid #ddd;
  display: block;
  overflow: hidden;
  padding: 15px 10px;
}
.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  margin-top: 30px;
  padding: 12px 40px;
  text-align: center;
  transition: all 0.4s ease 0s;
  z-index: 222;
}
.ready-btn:hover {
  color: #fff;
  background: #0066cc;
  border: 1px solid #0066cc;
  text-decoration: none;
}
.post-img {
  display: block;
  float: left;
  padding: 0 5px;
  width: 35%;
}
.pst-content {
  display: block;
  float: left;
  width: 65%;
}
.pst-content p a:hover, .left-branches ul li a:hover {
  color: #0066cc;
}

.branches-page .single-branches {
  margin-bottom: 40px;
}

.pst-content p a {
  color: #444;
  font-size: 15px;
}

.header-bottom h1, .header-bottom h2 {
  color: #fff;
}

.branches-tags {
  padding: 1px 0;
}

.left-branches li:last-child {
  border-bottom: 0;
}

.popular-tag.left-branches ul li a:hover {
  color: #fff;
}

.popular-tag.left-side-tags.left-branches ul {
  padding: 0 10px;
}

.branches-1 .banner-box {
  margin-bottom: 30px;
}

.left-tags .left-side-tags ul li {
  border-bottom: 0;
}

.left-tags .left-side-tags ul li a {
  padding: 3px 10px;
  width: auto;
}

.left-side-tags h4 {
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
# branches Details
--------------------------------------------------------------*/
.post-information h2 {
  color: #363636;
  font-size: 22px;
}

.post-information {
  padding: 20px 0;
}

.post-information .entry-meta span a {
  color: #444;
  display: inline-block;
  padding: 10px 0;
}

.entry-meta span a:hover {
  color: #0066cc;
}

.post-information .entry-meta {
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.post-information .entry-meta span i {
  padding: 0 10px;
}

.entry-content > p {
  color: #444;
}

.entry-meta > span {
  color: #444;
}

.entry-content blockquote {
  background: #fff none repeat scroll 0 0;
  border-left: 5px solid #0066cc;
  font-size: 17.5px;
  font-style: italic;
  margin: 0 0 20px 40px;
  padding: 22px 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #0066cc;
  border-color: #0066cc;
  color: #fff;
  cursor: default;
  z-index: 3;
}

.social-sharing {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  display: block;
  margin: 30px 0;
}

.social-sharing > h3 {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 20px 10px;
}

.sharing-icon {
  display: block;
  float: right;
  padding: 13px 10px;
}

.sharing-icon a {
  border: 1px solid #444;
  color: #444;
  display: block;
  float: left;
  font-size: 18px;
  height: 34px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
  width: 34px;
}

.sharing-icon a:hover {
  color: #0066cc;
  border: 1px solid #0066cc;
}

.single-branches .author-avatar {
  float: left;
  margin-right: 10px;
}

.single-branches .author-description h2 {
  font-size: 18px;
  margin: 0;
  padding: 0 0 5px;
}

.author-info {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin: 30px 0;
  padding: 15px;
  width: 100%;
}

.single-post-comments {
  margin-bottom: 60px;
  max-width: 650px;
}

.comments-heading h3, h3.comment-reply-title {
  border-bottom: 1px solid #e8e8e9;
  color: #444;
  font-size: 18px;
  margin: 0 0 20px;
  padding: 0 0 5px;
}

.comments-list ul li {
  margin-bottom: 25px;
}

.comments-list-img {
  float: left;
  margin-right: 15px;
}

.comments-content-wrap {
  color: #42414f;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 15px 80px;
  padding: 10px;
  position: relative;
}

.author-avatar {
  display: block;
  float: left;
  width: 10%;
}

.author-description h2 {
  color: #777;
  font-size: 20px;
}

.author-description h2 a {
  color: #000;
}

.comments-content-wrap span b {
  margin-right: 5px;
}

span.post-time {
  margin-right: 5px;
}

.comments-content-wrap p {
  color: #909295;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
}

li.threaded-comments {
  margin-left: 50px;
}

.comment-respond {
  margin-top: 60px;
}

span.email-notes {
  color: #42414f;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.comment-respond p {
  color: #444;
  margin-bottom: 5px;
}

.comment-respond input[type=text], .comment-respond input[type=email] {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 32px;
  margin-bottom: 15px;
  padding: 0 0 0 10px;
  width: 100%;
}

.comment-respond textarea#message-box {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  max-width: 100%;
  padding: 10px;
  height: 130px;
  width: 100%;
}

.comment-respond input[type=submit] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #0066cc;
  border-radius: 20px;
  box-shadow: none;
  color: #444;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  line-height: 14px;
  margin-top: 20px;
  padding: 10px 15px;
  text-shadow: none;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.comments-content-wrap span a {
  color: #000;
}

.comments-content-wrap span a:hover {
  color: #0066cc;
}

.comment-respond input[type=submit]:hover {
  border: 1px solid #0066cc;
  color: #fff;
  background: #0066cc;
}

.single-branches .branches-pagination {
  border-top: 1px solid #e5e5e5;
  margin: 0;
  padding-top: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
  text-align: right;
}
.footer-head p {
  color: #444;
}
.footer-head p a {
  color: #444;
}
.footer-head p a:hover {
  color: #0066cc;
}
.footer-head1 p {
  color: #444;
  font-size: 24px;
  padding-bottom: 20px;
}
.footer-head1 span{
  color: #0066cc;
}
.footer-head span{
  color: #0066cc;
}
.footer-logo {
  padding-bottom: 20px;
}
.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 1;
}
.footer-logo h2 span {
  color: #0066cc;
}
.footer-icons ul li {
  display: inline-block;
}
.footer-icons ul li a {
  border: 1px solid #444;
  color: #c01c1c;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.footer-icons ul li a i {
  line-height: 0;
}
.flicker-img > a {
  float: right;
  padding: 3px;
  width: 33.33%;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.footer-icons {
  margin-top: 30px;
}
.footer-contacts p {
  line-height: 14px;
  font-weight: 700;
  font-family: 'al-jazeera-arabic-bold', 'Open Sans', sans-serif;
}
.footer-contacts p span {
  color: #0066cc;
}
.footer-contacts a:hover {
  text-decoration: underline;
}
.popular-tag ul li {
  display: inline-block;
}
.footer-content {
  display: block;
  overflow: hidden;
}
.popular-tag ul li a:hover, .footer-icons ul li a:hover {
  background: #0066cc;
  border: 1px solid #0066cc;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  font-size: 13px;
  display: block;
  margin: 5px 3px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
}

.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 0;
}
.copyright-text a:hover {
  text-decoration: underline;
  color: #0066cc;
}
.copyright-text a {
  color: #444;
}
.copyright > p {
  margin-bottom: 0;
  color: #444;
}
.copyright a, .credits a {
  color: #0066cc;
}
.credits {
  padding-top: 5px;
  text-align: center;
}
.credits a:hover {
  text-decoration: underline;
  color: #c01c1c;
}
/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }

  .work-right-text {
    padding: 40px 0;
  }

  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .layer-1-1 h2 {
    font-size: 24px;
  }

  .layer-1-2 h1 {
    font-size: 31px;
    line-height: 38px;
    padding: 0px 30px;
  }

  .tab-menu ul.nav li a {
    padding: 10px 16px;
  }

  .suscribe-input input {
    width: 60%;
  }

  .suscribe-input button {
    width: 40%;
  }

  .team-content.text-center > h4 {
    font-size: 20px;
  }

  .sus-btn {
    margin-left: 0;
  }

  .suscribe-text p {
    font-size: 16px;
    padding-right: 20px;
    text-transform: none;
  }

  .work-right-text {
    padding: 36px 0;
  }

  .work-right-text h2 {
    font-size: 14px;
    line-height: 22px;
  }

  .work-right-text .ready-btn {
    font-size: 13px;
    padding: 7px 20px;
    margin-top: 5px;
  }

  .single-awesome-products {
    width: 33.33%;
  }

  .widget-product a img {
    display: block;
    float: none;
    width: 100%;
  }

  .widget-product .product-info {
    display: block;
    float: none;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .map-column {
    margin-left: 0;
    padding-right: 40px;
  }

  .post-information .entry-meta {
    font-size: 13px;
    padding: 5px 0;
  }

  .post-information .entry-meta span a {
    padding: 4px 0;
  }

  .service-pic {
    margin-bottom: 30px;
    text-align: center;
  }

  .single-add-itms {
    width: 50%;
  }

  .left-sidebar-title > h4 {
    font-size: 18px;
  }

  .contact-form {
    margin-top: 0px;
  }

  .search-option input {
    width: 67%;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  .slider-area {
    margin-top: 60px;
  }

  .slider-content {
    padding: 80px 0;
  }

  .slider-content h2 {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .slider-content h1 {
    font-size: 20px !important;
    line-height: 26px !important;
  }

  .layer-1-3 a.ready-btn {
    padding: 8px 15px;
  }

  .section-headline p {
    font-size: 30px;
  }

  .well-middle .single-well {
    margin-top: 30px;
  }

  .single-skill {
    margin-bottom: 40px;
  }

  .tab-menu {
    margin-top: 30px;
  }

  .tab-menu ul.nav li a {
    padding: 8px 6px;
  }
  .section-headline h3 {
    font-size: 25px;
  }

  .well-text > h2 {
    font-size: 18px;
  }

  .well-text p {
    display: none;
  }

  .single-team-member {
    margin-bottom: 30px;
  }

  .service-right {
    width: 100%;
  }

  .service-images:hover .overly-text {
    display: none;
  }

  .project-menu li a {
    padding: 8px 12px;
    margin: 10px 4px;
  }

  .pri_table_list {
    margin-bottom: 30px;
  }

  .single-awesome-project, .products-2 .single-awesome-project {
    width: 100%;
    float: none;
  }

  .single-branches {
    margin-bottom: 30px;
  }

  .sus-btn {
    margin-left: 0;
    margin-top: 30px;
  }

  .contact-form {
    margin-top: 30px;
  }

  .head-team h5 {
    font-size: 22px;
  }

  .footer-content {
    margin-bottom: 30px;
  }

  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .page-area .slider-content {
    padding: 0;
    margin-top: -85px;
  }

  .search-option input {
    width: 74%;
  }

  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }

  li.threaded-comments {
    margin-left: 0;
  }
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .submitbtn {
    float: none;
    width: 99.8%;
  }

  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }

  .branches-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .awesome-products-content .products-2 {
    width: 50%;
  }

  .gallary-details .single-awesome-products {
    width: 50%;
  }

  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}
@media (max-width: 575px) {
  .slider-content {
    padding: 0;
  }
}